.books {
    background-color: $color-bg-gray;
    padding: 64px 0px 80px 0px;

    .books__header {
        padding-bottom: 24px;

        h2 {
            font-size: 32px;
            font-family: $font-accent;
            color: $color-font-primary;
        }

        h2::after {
            content: "";
            position: relative;
            display: block;
            width: 80px;
            height: 3px;
            background: $color-accent;
            margin-top: 8px;
        }

        h4 {
            font-size: 16px;
            font-family: $font-accent;
            color: $color-font-primary;
            bottom: 0px;
        }

        h4::after {
            content: "";
            position: relative;
            display: block;
            width: 100%;
            height: 1px;
            background: $color-gray;
            margin-top: 8px;
        }

        a {
            font-family: $font-accent;
            color: $color-font-light;
            text-transform: uppercase;
            text-decoration: none;

            .bx {
                font-size: 20px;
                font-weight: light;
                padding-right: 2px;
            }
        }

        a:hover {
            color: $color-font-accent;
        }

    }

    .books__body {

        .card {
            position: relative;
            top: 0;
            transition: top ease 0.5s;
            box-shadow: 2px 2px 25px #6e7b8324;

            img {
                padding: 48px;
                padding-bottom: 0px;
            }
        }

        .card:hover {
            top: -5px;

            .link-underline {
                background-size: 100% 2px;
            }
        }

        a {
            text-decoration: none;
        }

        .card-author {
            color: $color-font-light;
        }

        .carousel-indicators {
            bottom: -72px;
            opacity: 0.5;
        }

        .carousel .carousel-indicators button {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: $color-accent;
            position: relative;

        }

        .carousel-control-next, .carousel-control-prev {
            position: absolute;
            top: 0;
            bottom: 0;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15%;
            padding: 0;
            text-align: center;
            background: 0 0;
            border: 0;
            transition: opacity .15s ease;



            i {
                color: $color-accent;
                font-size: 48px;
                border-radius: 50%;
                background-color: $color-bg-gray;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 64px;
                height: 64px;
            }
        }

        .carousel-control-prev {
            justify-content: flex-start;
            left: -48px;
        }

        .carousel-control-next {
            justify-content: flex-end;
            right: -48px;
        }

    }

    @media screen and (max-width: 991px) {
        .books__body {
            .carousel-control-next, .carousel-control-prev {
                position: absolute;
                top: 100%;
                bottom: -72px;
                z-index: 1;
                display: flex;
                align-items:flex-end;
                width: 15%;
                padding: 0;
                text-align: center;
                background: 0 0;
                border: 0;
                transition: none;
    
    
    
                i {
                    color: $color-accent;
                    font-size: 40px;
                    border-radius: 50%;
                    background-color: $color-bg-gray;
                    display: flex;
                    justify-content: center;
                    width: 64px;
                    height: 64px;
                }
            }
    
            .carousel-control-prev {
                justify-content: flex-start;
                left: -10px;
            }
    
            .carousel-control-next {
                justify-content: flex-end;
                right: -10px;
            }
        }
    }


    @media screen and (max-width: 500px) {
        /* .books__header h4 {
            padding-top: 20px;
        } */

        .books__header {
            padding-bottom: 24px;

            h2 {
                font-size: 20px;
            }

            h4 {
                font-size: 12px;
            }

            a {
                .bx {
                    font-size: 16px;
                    font-weight: light;
                    padding-right: 2px;
                }
            }
        }

        .books__body {
            .card {
                img {
                    padding: 16px;
                    padding-bottom: 0px;
                }
                .card-author {
                    font-size: 14px;
                }
                .card-text {
                    font-size: 14px;
                }
            }
            /* .carousel-control-next, .carousel-control-prev {
                visibility: hidden;
            } */
    

        }
        
        .row {
            --bs-gutter-y: 1rem;
            --bs-gutter-x: 1rem;
        }
    }

}