.events {
    //background-color: $color-bg-gray;
    padding: 64px 0px 64px 0px;

    .events__header {
        padding-bottom: 24px;

        h2 {
            font-size: 32px;
            font-family: $font-accent;
            color: $color-font-primary;
        }

        h2::after {
            content: "";
            position: relative;
            display: block;
            width: 80px;
            height: 3px;
            background: $color-accent;
            margin-top: 8px;
        }

        h4 {
            font-size: 16px;
            font-family: $font-accent;
            color: $color-font-primary;
        }

        h4::after {
            content: "";
            position: relative;
            display: block;
            width: 100%;
            height: 1px;
            background: $color-gray;
            margin-top: 8px;
        }

        a {
            font-family: $font-accent;
            color: $color-font-light;
            text-transform: uppercase;
            text-decoration: none;

            .bx {
                font-size: 20px;
                font-weight: light;
                padding-right: 2px;
            }
        }

        a:hover {
            color: $color-font-accent;
        }

    }

    .events__body {

        a {
            text-decoration: none;
        }

      /*   .event-card {
            position: relative;
            border: 8px solid #EEEFF1;
            border-radius: 8px;
            padding: 32px;
            height: 100%;
        } */
        
    }

    @media screen and (max-width: 500px) {
        /* .events__header h4 {
            padding-top: 20px;
        } */

        .events__header {
            padding-bottom: 24px;
            
            h2 {
                font-size: 20px;
            }

            h4 {
                font-size: 12px;
            }

            a {
                .bx {
                    font-size: 16px;
                    font-weight: light;
                    padding-right: 2px;
                }
            }
        }
        .events__body {
            .card-title {
                font-size: 16px;
            }
            .card-text {
                font-size: 14px;
                line-height: 1.2;
            }
            .card-footer {
                font-size: 12px;
                line-height: 1.2;
            }
        }

        .row {
            --bs-gutter-y: 1rem;
            --bs-gutter-x: 1rem;
        }
    }

}