.hero {
    background-color: $color-main;
    display: flex;
    align-items: center;
    padding: 20px 0px 20px 0px;

    .card:hover {
        top: 0px;
    }

    .hero__notice {
        overflow: hidden;
        position: relative;
        color: $color-font-white;
        max-height: 400px;
        // border-left: 1px solid #ffffff;
        // border-top: 1px solid;
        // border-image: linear-gradient(to right, #fff, red) 1 0 0 0;
        // border-top-left-radius: 8px;
        // border-bottom-left-radius: 8px;
        // border-right: none;
        // border-image: linear-gradient(to right ,#eeeff1 50%,  transparent 100%, transparent 70%, #325a62 40%);
        // border-image-slice: 2;
    }

    .hero__notice::before {
        content:"";
        position: absolute;
        inset: 0;
        border-radius: 8px;
        border: 1px solid transparent;
        background: linear-gradient(90deg,#ffffff, $color-main) border-box;
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
            mask-composite: exclude;
    }

    .hero__notice li {
        color: $color-accent;
    }

    .hero__notice li span {
        color: $color-font-white;
    }

    .hero__notice--title {
        padding-top: 1.5rem;
        padding-bottom: 1.2rem;
        padding-left: 1rem;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 500;
    }

    @media screen and (max-width: 767px) {
        .hero__notice {
            margin: 12px;
            width: 95%;
        }
    }

    @media screen and (max-width: 500px) {
        .hero__notice--title {
            padding-top: 1rem;
            padding-bottom: 0px;
            padding-left: 8px;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 500;
        }
        ul {
            padding-left: 24px;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {

        .hero__notice {
            margin: 12px;
            width: 95%;
        }
    }
}

