.references {
    padding: 64px 0px 64px 0px;

    .references__header {

        padding-bottom: 24px;

        h2 {
            font-size: 32px;
            font-family: $font-accent;
            color: $color-font-primary;
        }

        h2::after {
            content: "";
            position: relative;
            display: block;
            width: 80px;
            height: 3px;
            background: $color-accent;
            margin-top: 8px;
        }

        h4 {
            font-size: 16px;
            font-family: $font-accent;
            color: $color-font-primary;
        }

        h4::after {
            content: "";
            position: relative;
            display: block;
            width: 100%;
            height: 1px;
            background: $color-gray;
            margin-top: 8px;
        }

        a {
            font-family: $font-accent;
            color: $color-font-light;
            text-transform: uppercase;
            text-decoration: none;

            .bx {
                font-size: 20px;
                font-weight: light;
                padding-right: 2px;
            }
        }

        a:hover {
            color: $color-font-accent;
        }
    }

    .references__body {

        .card {

            img {
                border-radius: 8px;
            }

            button {
                color: $color-font-primary;
                border: 1px solid $color-main;
            }
            button:hover {
                color: $color-font-white;
                background-color: $color-main;
                border: 1px solid $color-main;
            }

        }

    }

    .references__footer {
        padding: 48px;
        border-radius: 8px;
        background-color: $color-bg-gray;

        img {
            border-radius: 8px;
        }
    }

    @media screen and (max-width: 500px) {
        /* .events__header h4 {
            padding-top: 20px;
        } */

        .references__header {
            padding-bottom: 24px;
            
            h2 {
                font-size: 20px;
            }

            h4 {
                font-size: 12px;
            }
            a {
                .bx {
                    font-size: 16px;
                    font-weight: light;
                    padding-right: 2px;
                }
            }
        }

        .references__body {
            .card-body {
                padding-top: 0px;

                .card-title {
                    font-size: 16px;
                }
                .card-text {
                    font-size: 14px;
                }

                .btn {
                    font-size: 12px;
                }
            }
        }
        .references__footer {
            padding: 24px;
        }
    }

}