// Fonts
$font-main: 'IBM Plex Sans', sans-serif;
$font-accent: 'Alice', serif;

// Colors
$color-main: #356169;
$color-accent: #FFA144;
$color-gray: #E0E0E0;

$color-bg-gray: #F0F2F3;
$color-bg-orange: #F9F5EE;

$color-font-default: #2D3030;
$color-font-primary: #356169;
$color-font-accent: #FFA144;
$color-font-light: #9A9A9A;
$color-font-white: #F0F2F3;